@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --darkbg1: 37 40 54;
    --darkbg2: 31 29 43;
    --darkbgbase: 57 60 73;
    --primary: 234 124 105;
    --secondary: 146 136 224;
  }
}

svg {
  fill: currentColor;
}
